<div class="row">
    <div class="col-md-12">

        {{#if msg}}
        <div class="col-md-12 text-center">
            <br/><br/><br/>
            <div class="alert alert-info" role="alert">
                <h3>{{msg.message_404}}</h3>
                <br>
               <a href="/blog"> go back to Blog Posts</a>
            </div>

        </div>
        {{/if}}
    </div>
</div>
