<div class="row">
    <div class="col-md-12">

        {{#if msg}}
        <div class="col-md-12 text-center">
            <br/><br/><br/>
            <h1>{{msg.message_404}}</h1>
            <h2>The page you requested does not exist.</h2> 
            <img src="https://i.pinimg.com/564x/62/50/a4/6250a4353ead41c1c83e205b33f55776.jpg">
        </div>
        {{/if}}
    </div>
</div>
