<div class="row">
    <div class="col-md-12">


          <h2>User ({{email}}) History</h2>
          <hr>

        <div class="table-responsive">

          <table class="table"> 
            
            <tr>
                <th>Login Date/Time</th>
                <th>Client Infomation</th>
            </tr>

            {{#each session.user.loginHistory}}
            <tr>
                <td>{{dateTime}}</td>
                <td>{{userAgent}}</td>
            </tr>
            {{/each}}

          </table>
        </div>

    </div>
</div>
